*{
    margin: 0;
}

.header {
    background-image: url(images/banner/banner3.png);
    width: 100%;
    height: 800px;
}

.banner{
    text-align: right;
    padding: 216px 230px 364px 845px;
}

.discription{
    font-weight: 400px;
}